<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comicflix.comicflix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.comicflix.Manga_Stream.SupriseComicActivity"></activity>
        <activity android:name="com.comicflix.Manga_Stream.PopularComicActivity" />
        <activity android:name="com.comicflix.Manga_Stream.MangaGenreActivity" />
        <activity android:name="com.comicflix.Manga_Stream.ComicUniverseActivity" />
        <activity android:name="com.comicflix.Manga_Stream.MangaStreamActivity" />
        <activity android:name="com.comicflix.Community.CommunityActivity" />
        <activity android:name=".DrawerActivity" />
        <activity android:name="com.comicflix.Basic_plan.MovieDetailBasicActivity" />
        <activity android:name="com.comicflix.Basic_plan.StartViewBasicActivity" />
        <activity android:name="com.comicflix.Profile.SettingActivity" />
        <activity android:name="com.comicflix.ProfileActivity" />
        <activity
            android:name="com.comicflix.VideoPlayerActivity"
            android:screenOrientation="nosensor" />
        <activity android:name="com.comicflix.MovieDetailActivity" />
        <activity android:name="com.comicflix.StartView" />
        <activity android:name="com.comicflix.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>